.body {
    background: #58255f;
    padding: 20px;
  }
  #root{
    background-image:linear-gradient(to top,rgb(12, 12, 12),rgb(243, 243, 243));
  }
  h1 {
    text-align: center;
    padding-bottom: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .list-group-item{
    text-align: center;
    padding: 20px;
  }

  #download{
    background: #a00eb6;
    padding:20px;
    border-style: hidden;
    text-decoration: solid;
  }
  #btn{
    background: #8565d5;
    width: 100px;
  }
  .abtMe{
    font-family: fantasy;
    background:#87648b;
  }