.body {
    background: #3e333f;
    padding: 20px;
    
  }
  #root{
    background-image:linear-gradient(to bottom,rgb(0, 0, 0),rgb(97, 104, 232));
    color: aliceblue;
  }
  h1 {
   
    text-align: center;
    padding-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .list-group-item{
    text-align: center;
    padding: 20px;
  }
.Me{
 border-radius: 50px;
border: 10px;
 border-color: aqua;
}
  #download{
    background: #a00eb6;
    padding:20px;
    border-style: hidden;
    text-decoration: solid;
  }
  #btn{
    background: #8565d5;
    width: 100px;
    border-radius: 10px;
  }
  .abtMe{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 700;
    color: aliceblue;
   
  }
  .HeadNav{
   
    padding-top: 50px;
    background-image: url(/assets/header.jpg);
  }
  #ba{
    background: #714bd2;
    border-radius: 10px;
    padding: 30px;
    margin:-8px;
    color: aliceblue;
    
  }
  .nav-link{
    color: aliceblue;
  }
  #profs{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    font-weight: 700;
    color: aliceblue;
    
    float: right;
  }
#profs li{
  list-style-type:square;
}
  @media screen and (max-width: 814px) {
    .resImg{
width: 300px;
    }
  }
  @media screen and (max-width: 424px) {
    .Me{
      border-radius: 50px;
     border: 10px;
      border-color: aqua;
      width: 150px;
      height: 150px;
     }
  }