.footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 700;
    background-image: url(/assets/header2.jpg);
    filter: hue-rotate(20deg);
}
.Footer1{
    cursor: pointer;
    list-style: none;
    font-size: 25px;
    display: inline-block;
    
}
li a{
    color: aliceblue;
}